#cardsContainer {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 20px auto;
    max-width: 280px;
    justify-content: center;
}

.card {
    align-items: center;
    background-color: #cfcfcf;
    border: 2px solid #212121;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    height: 60px;
    padding: 10px;
    transition: background-color .3s ease, color .3s ease, border-color .3s ease;
    width: 60px;
    justify-content: center;
}

.card.flipped,
.card:hover {
    background-color: #212121;
    border-color: #ffbe1a;
    color: #ffbe1a;
}

.card.matched {
    box-shadow: 0 0 5px #ffbe1a;
    background-color: #ffbe1a;
}

.card.matched span {
    background-color: #927939;
    border-radius: 10px;
}